body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6f2;
    text-align: center;
    padding: 50px;
    margin: 0;
}

h1 {
    color: #d0155d;
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    color: #f786b3;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.heart {
    width: 100px;
    height: 100px;
    background-color: #ff4d94;
    position: relative;
    transform: rotate(-45deg);
    margin: 50px auto;
    animation: beat 1s infinite;
}

.heart:before,
.heart:after {
    content: '';
    width: 100px;
    height: 100px;
    background-color: #ff4d94;
    border-radius: 50%;
    position: absolute;
}

.heart:before {
    top: -50px;
    left: 0;
}

.heart:after {
    top: 0;
    left: 50px;
}

@keyframes beat {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.1) rotate(-45deg);
    }
    100% {
        transform: scale(1) rotate(-45deg);
    }
}

.message {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 20px;
}

.message p {
    color: #ff3385;
    font-size: 1.2em;
    margin: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4d94;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ef619afc;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.gallery img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
